/* line 4, ../scss/_settings.scss */
.user-table tr, .user-table td, .user-table th {
  background-color: rgba(53, 170, 255, 0.15);
  border-style: none;
}
/* line 8, ../scss/_settings.scss */
.user-table thead th {
  background-color: #337cf6;
  border-style: none;
  color: whitesmoke;
}

/* line 1, ../scss/_login.scss */
#login {
  margin-top: 50px;
}

/* line 2, ../scss/_retrospectives.scss */
.retro-list tr, .retro-list td, .retro-list th {
  background-color: rgba(53, 170, 255, 0.15);
}
/* line 7, ../scss/_retrospectives.scss */
.retro-list thead th {
  background-color: #337cf6;
  color: whitesmoke;
}
/* line 12, ../scss/_retrospectives.scss */
.retro-list tbody tr:hover, .retro-list a:hover {
  background: #bee1ff;
  cursor: pointer;
}

/* line 19, ../scss/_retrospectives.scss */
.retro-details tr, .retro-details td, .retro-details th {
  background-color: rgba(53, 170, 255, 0.15);
}
/* line 24, ../scss/_retrospectives.scss */
.retro-details thead th {
  background-color: #337cf6;
  color: whitesmoke;
}
/* line 29, ../scss/_retrospectives.scss */
.retro-details tbody tr:hover, .retro-details a:hover {
  background: #bee1ff;
  cursor: pointer;
}

/* line 35, ../scss/_retrospectives.scss */
.details-content {
  margin-top: 50px;
}

/* line 41, ../scss/_retrospectives.scss */
.user-values .card {
  margin-top: 50px;
  background-color: #e5eafb;
  border-radius: 0;
}
/* line 47, ../scss/_retrospectives.scss */
.user-values .card .card-subtitle.great {
  color: #00c113 !important;
}
/* line 50, ../scss/_retrospectives.scss */
.user-values .card .card-subtitle.better {
  color: #ff5835 !important;
}
/* line 54, ../scss/_retrospectives.scss */
.user-values .card .card-subtitle .badge.votes:hover {
  background-color: #337cf6;
  cursor: pointer;
}

/* line 63, ../scss/_retrospectives.scss */
.user-values {
  margin-bottom: 60px;
}

/* line 1, ../scss/_errors.scss */
.alert {
  border-radius: 0;
}

/* line 7, ../scss/index.scss */
.navbar {
  margin-bottom: 20px;
}

/* line 12, ../scss/index.scss */
.navbar-dark .navbar-nav .nav-link {
  margin-right: 100px;
}

/* line 16, ../scss/index.scss */
.input-error {
  border: 2px solid red;
}

/* line 20, ../scss/index.scss */
body {
  background-color: #f1f4ff;
}

/* line 25, ../scss/index.scss */
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #e2e2e2;
}

/* line 31, ../scss/index.scss */
.btn {
  margin-bottom: 20px;
  border-radius: 0;
}

/* line 36, ../scss/index.scss */
.form-control {
  border-radius: 0;
}

/* line 31, ../scss/index.scss */
.retrospectives-index {
  margin-top: 20px;
}
